#head {
    font-weight: bold;
    color: black;
    font-size: 50px;
    text-align: center;
}

.para {
    text-align: center;
    color: rgb(67, 12, 129);
    font-weight: 500;
    font-size: 20px;
}

div.gallery {
    border: 1px solid black;
    margin: 2px;
    display: inline;
}

div.severe {
    border: 1px solid black;
    margin: 12px;
    display: inline;
}

  